<div class="row">
  <h5 class="center-align">Fetal fraction</h5>
  <div id="{{ plot_id }}" style="width:{{ width }};height:{{ height }};">
    <svg style="width:{{ width }};height:{{ height }};"></svg>
  </div>
  <script>
    scatterChartTime({{ '{' }}data: {{ data|safe }}, id: '#{{ plot_id }} svg', x_label: 'Date', y_label: 'Fetal fraction', x_format: '0.02f', y_format: '0.02%', x_min:{{ x_min_value|safe }}, x_max: {{ x_max_value|safe }}, y_min: {{ y_min_value|safe }}, y_max: {{ y_max_value|safe }}, limits:[[0.02,0.02]]{{ '}' }});
  </script>
</div>
