pycodestyle==2.6.0
django==3.1.1
scipy=1.9
pandas==1.5.3
numpy<2.0.0
pyaml==20.4.0
#reportlib==3.4.0
django-wkhtmltopdf==3.3.0
psycopg2-binary
gunicorn==20.0.4
coverage==5.3
python-dateutil==2.8.1
mssql-django==1.0
