{% load static %}
{% load tz %}
{% load min_value %}
{% load max_value %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}NIPTViewer{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.min.1.0.0.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  {% block head_css %}
    <link href="{% static "css/nv.d3.min.1.8.6.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% endblock %}

  {% block head_js %}
    <script src="{% static "js/d3.min.3.5.2.js" %}" charset="utf-8"></script>
    <script src="{% static "js/nv.d3.min.1.8.6.js" %}"></script>
    <script src="{% static "run_visualiser/js/scatter_chart.js" %}"></script>
    <script src="{% static "run_visualiser/js/line_chart.js" %}"></script>
  {% endblock %}
</head>
<body class="cyan lighten-5 " >
  <nav class="cyan darken-4 nav-extended" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'index' %}" class="brand-logo">CGU</a>
      <a class="right small" href="https://github.com/clinical-genomics-uppsala/NIPTViewer/releases/tag/v{{ niptviewer_version }}">v{{ niptviewer_version }}</a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li>
          <form class="navbar-form" method="POST" action="{% url 'viewer:search' %}"class="post-form">{% csrf_token %}
          <div class="input-field">
            {{ search_form.search_data }}
              <label class="label-icon" for="id_search_data"><i class="material-icons">search</i></label>
          </div>
          </form>
        </li>
        <li><a href="{% url "viewer:index" %}"><i class="material-icons">assessments</i></a></li>
        <li><a href="{% url "viewer:upload" %}"><i class="material-icons">library_add</i></a></li>
        <li><a class="btn btn-primary mt-5" href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
      {% endif %}
      <div class="center appname">NIPT Viewer</div>

      {% if user.is_authenticated %}
      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url "index" %}"><i class="material-icons">home</i></a></li>
        <li><a href="{% url "viewer:upload" %}"><i class="material-icons">library_add</i></a></li>
        <li><a class="btn btn-primary mt-5" href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      {% endif %}
    </div>
    {% block navbar %}{% endblock %}
  </nav>
  <div class="section no-pad-bot white" id="index-banner" >
    <div class="container containerbg">
    </div>
  </div>


{% if user.is_authenticated %}
    {% block content %}
    <div class="fixed-action-btn">
      <a  href="{% url "viewer:upload" %}" data-tooltip="Upload new NIPT data" data-position="top" class="btn-floating tooltipped btn-large waves-effect waves-light red right {% if not num_flowcells %} pulse {% endif %}"><i class="material-icons">file_upload</i></a>
    </div>

    <div class="section">
      <div class="row white">
        <div class="col s12 m12 white center">
        <a class="waves-effect {% if time_selection == 1 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=1 %}">1 month</>
        <a class="waves-effect {% if time_selection == 3 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=2 %}">3 month</>
        <a class="waves-effect {% if time_selection == 6 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=6 %}">6 month</>
        <a class="waves-effect {% if time_selection == 12 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=12 %}">1 year</>
        <a class="waves-effect {% if time_selection == 24 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=24 %}">2 year</>
        <a class="waves-effect {% if time_selection == 70 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=60 %}">5 year</>
        <a class="waves-effect {% if time_selection == 9999 %} btn {% else %} btn-flat {% endif %}" href="{% url 'index' time_selection=9999 %}">All</a>
      </div>
        <div class="white center">
          <br />
          <small>Time span</small>
        </div>
        <div class="col s12 m12 white">
          <div class=center-align>
            <h4> Fetal fraction</h4>
          </div>
          {% if data_ff_time %}
            <div id="scatter_chart_ff" style="width:100%;height:400px;">
              <svg style="width:100%;height:400px;"></svg>
            </div>
          <script>
            {% with x_min_value=data_ff_time_min_x x_max_value=data_ff_time_max_x y_min_value=data_ff_time_min_y|min_value:"-0.01" y_max_value=data_ff_time_max_y|max_value:"0.2" %}
                scatterChartTime({{ '{' }}data: {{ data_ff_time|safe }}, id: '#scatter_chart_ff svg', x_label: 'Date', y_label: 'Fetal fraction', x_format: '0.02f', y_format: '0.02%', x_min:{{ x_min_value }}, x_max: {{ x_max_value}}, y_min: {{ y_min_value }}, y_max: {{ y_max_value}}, limits:[[0.02,0.02]]{{ '}' }});
            {% endwith %}
          </script>
          {% else %}
          <div class=center-align>
            <p>
            <h2 class="center-align">NO DATA</h2>
            </p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row white">
        <div class="col s12 m12 white">
          <div class=center-align>
            <h4> Normalized Chromosome Denominator</h4>
            <h6>Control samples</h6>
          </div>
          {% if ncd %}
            <div id="scatter_chart_ncd" style="width:100%;height:400px;">
              <svg style="width:100%;height:400px;"></svg>
            </div>
          <script>
            scatterChartTime({{ '{' }}data: {{ ncd|safe }}, id: '#scatter_chart_ncd svg', x_label: 'Date', y_label: 'NCD', x_format: '0.02f', y_format: '0.02f'{{ '}' }});
          </script>
          {% else %}
          <div class=center-align>
            <p>
            <h2 class="center-align">NO DATA</h2>
            </p>
          </div>
          {% endif %}
        </div>
      </div>


      <div class="row white">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Statistics </h5>

            <p class="center"><b>#Flowcells:</b> {{ num_flowcells }} {%if num_flowcells != total_num_flowcells %} ({{ total_num_flowcells}}) {% endif %} </p>
            <p class="center"><b>#Samples:</b>{{ num_samples }} {%if num_samples != total_num_samples %} ({{ total_num_samples}}) {% endif %}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Latest flowcells</h5>

            {% for flowcell in latest_flowcells %}
              <p class="center"><a class="black-text" href="{% url "viewer:report" barcode=flowcell.flowcell_barcode %}">{{ flowcell.flowcell_barcode }}</a></p>
            {% endfor %}
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Latest samples</h5>
            {% for sample in latest_samples %}
              <p class="center"><a class="black-text" href="{% url "viewer:sample_report" barcode=sample.flowcell_id__flowcell_barcode sample=sample.sample_id %}">{{ sample.sample_id }} ({{ sample.flowcell_id__flowcell_barcode }})</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <br><br>

    {% endblock %}
{% else %}

<div class="container">
  <div class="section">
    <br /><br />
    <div class="row white" style="border: 2px solid #004d40">
        <form  action="/login" class="col s12" method="post">
          {% csrf_token %}
          <div class="input-field col s5">
            <i class="material-icons prefix">account_circle</i>
            <input placeholder="Placeholder" id="username" name="username" type="text" class="validate">
            <label for="first_name">Username</label>
          </div>
          <div class="input-field col s5">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>
          <div class="input-field col s2">
            <input  class="btn-large waves-effect waves-light" type="submit" value="Login">
          </div>
          {% if login_error %}
          <div class="col s12 red-text center-align">
            <h4>{{ login_error }}</h4>
          <div>
          {% endif %}
        </form>
    </div>
    <br />
  </div>
</div>

{% endif %}

  <footer class="page-footer cyan darken-4">
    <div class="container">
      <div class="row">
        <div class="col l10 s12">
          <h5 class="white-text">Clinical Genomics Uppsala</h5>
          <p class="grey-text text-lighten-4">Clinical Genomics Uppsala is jointly set up by Uppsala University, Uppsala University Hospital and SciLifeLab with the aim to catalyze the transition of novel research findings into molecular diagnostics for clinical use. The facility is fully integrated within the Uppsala University Hospital and has extensive experience in development and implementation of state-of-the-art next-generation sequencing (NGS) technology in routine diagnostics. The facility takes on research and development projects with a clear translational profile. With our team of facility associated geneticists, bioinformaticians and medical doctors, we can deliver clinical assessments of the detected variants with the aim to truly provide bench-to-bedside service.</p>


        </div>

        <div class="col l2 s12 right-align">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/scilifelab">Twitter</a></li>
            <li><a class="white-text" href="https://www.facebook.com/scilifelab">Facebook</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/company/science-for-life-laboratory">Linkedin</a></li>
            <li><a class="white-text" href="#">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text" href="https://www.scilifelab.se/facilities/clinical-genomics-uppsala/"><b>Clinical Genomics Uppsala</b></a>, styled by <a class="white-text" href="http://materializecss.com"><b>Materialize</b></a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/materialize.min.1.0.0.js" %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <script>
    $(function() {
      $("#id_search_data").autocomplete({
        source: "{% url 'viewer:search' %}",
        minLength: 2,
      });
    });
  </script>

  <script src="{% static "js/init.js" %}"></script>
  {% block footer_js %}
  {% endblock %}
  </body>
</html>
