.offscreen {
    position: absolute;
    left: -999em;
}

@media only screen and (max-width : 1200px) {
  .container .section {
    position: absolute;
    top: 40%;

  }
  #index-banner .section {
    top: 10;
    margin: 0px;

  }
}

.appname {
  font-size: 30px;
  font-weight: bold;
}

.containerbg {
   background:url("/static/img/CGU.png") no-repeat 0% 0%;
   background-size:cover;
   height: 450px;
}

.section {margin-top:10px; margin-bottom:10px;}
.row {padding-top:20px;padding-bottom:20px;padding-left:40px;padding-right:40px; border-top:1px solid #b2dfdb;border-bottom:1px solid #b2dfdb;}

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x,
.icon-stack-3x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
}
.icon-stack-2x {
  font-size: 1.5em;
}
.icon-stack-3x {
  font-size: 2em;
}
