{% extends "base.html" %}
{% load tz %}

{% block title %}
NIPTviewer: Flowcells run
{% endblock %}

{% block content %}
<div class="section">
  <div class="row white">
    <form name="csv_file" id="csv_file_upload" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if file_validation %}
      <blockquote>
        <div class="text-red text-darken-4">
          <br />
          Flowcell barcode must be unique, the provided flowcell barcode <a class="text-teal text-darken-4" href="{% url 'viewer:report' barcode=file_validation.0 %}">{{ file_validation.0 }}</a> was uploaded
          {% timezone "Europe/Paris" %}
          {{ file_validation.1 }}
          {% endtimezone %}
          <br /><br />
        </div>
       </blockquote>
      {% endif %}
        {% if form_data_err %}
        <blockquote><p>One or more samples are missing data and will have to be removed, i.e will not be imported to the database. <br/><br /><i class="material-icons left">warning</i> To proceed, select the file again and check "Filter Sample" box.</p> <p><small>Error:<br/> - {{ form_data_err }}<br/><b>Note that there coulde be more failing sampes, this is the first one that was found</b>.</small></p></blockquote>
        {% endif %}
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            {{ form_data.file }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          {{ form_data.file.errors }}
          {% if form_data.file.help_text %}
          {{ form_data.file.help_text|safe }}
          {% endif %}
        </div>
        {% if form_data_err %}
        <div class="input-field">
          <label>
          {{ form_data.allow_filter_away_data }}
          <span> Filter samples</span></label>
          {% if form_data.allow_filter_away_data.help_text %}
          <small>
            <br /><span id="helpBlock" class="help-block">{{ form_data.allow_filter_away_data.help_text|safe }}</span>
          </small>
          {% endif %}
        {% endif %}
      </div>
      <br />
      <div class="col l12 m12 s12 center-align">
        <button class="btn-large waves-effect waves-light " type="submit" value="Upload" name="upload_csv" ><i class="material-icons right">file_upload</i>Upload</button>
      </div>
      </form>
    </div>
</div>
</div>
{% endblock %}
