{% extends "base.html" %}
{% load static tz %}

{% block title %}
NIPTViewer: Flowcells run
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">
{% endblock %}
{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
<script src="{% static "run_visualiser/js/scatter_chart.js" %}"></script>
<script src="{% static "run_visualiser/js/line_chart.js" %}"></script>
{% endblock %}

{% block content %}
<div class="section">
  <div class="row white">
    <div class="col s12 m12 white">
      <div class=center-align>
        <h4> Fetal fraction</h4>
      </div>
      {% if data_ff_time %}
        <div id="scatter_chart_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>
      <script>
        scatterChartTime({{ '{' }}data: {{ data_ff_time|safe }}, id: '#scatter_chart_ff svg', x_label: 'Date', y_label: 'Fetal fraction', x_format: '0.02f', y_format: '0.02%', y_min:0, y_max:0.2,limits:[[0.02,0.02]]{{ '}' }});
      </script>
      {% else %}
      <div class=center-align>
        <p>
        <h2 class="center-align">NO DATA</h2>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row white">
    <div class="col s12 m12 white">
      <div class=center-align>
        <h4> Normalized Chromosome Denominator</h4>
      </div>
      {% if ncd %}
        <div id="scatter_chart_ncd" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>
      <script>
        scatterChartTime({{ '{' }}data: {{ ncd|safe }}, id: '#scatter_chart_ncd svg', x_label: 'Date', y_label: 'NCD', x_format: '0.02f', y_format: '0.02f'{{ '}' }});
      </script>
      {% else %}
      <div class=center-align>
        <p>
        <h2 class="center-align">NO DATA</h2>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="section">
    <div class="row white">
    <div class=center-align>
      <h4> Runs</h4>
    </div>
    <table class="centered">
      <thead>
      <tr>
        <th>Barcode</th>
        <th>Run date</th>
        <th>Uploaded by</th>
        <th>Upload Date</th>
        <th>QC Status</th>
        <th>Illumina Software version</th>
      </tr>
      </thead>
      <tbody>
    {% for flowcell in flowcell_data %}
    <tr>
    <td><a  class="cyan-text text-darken-4"href="{% url 'viewer:report' barcode=flowcell.flowcell_id.flowcell_barcode %}">{{ flowcell.flowcell_id.flowcell_barcode}}</a></td>
    <td>{% timezone "Europe/Paris" %}{{ flowcell.flowcell_id.run_date|date:"Y-m-d"}}{% endtimezone %}</td>
    <td>{{ flowcell.flowcell_id.uploading_user.first_name }} {{ flowcell.flowcell_id.uploading_user.last_name }}</td>
    <td>{% timezone "Europe/Paris" %}{{ flowcell.flowcell_id.created|date:"Y-m-d"}}{% endtimezone %}</td>
    <td>{{ flowcell.flowcell_id.qc_status }}</td>
    <td>{{ flowcell.software_version }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
