{% extends "base.html" %}
{% load static tz %}

{% block title %}
NIPTViewer: Flowcells run
{% endblock %}

{% block head_js %}
<script src="{% static "js/d3.min.3.5.2.js" %}" charset="utf-8"></script>
<script src="{% static "js/nv/1.8.6/nv.d3.min.js" %}"></script>
<script src="{% static "run_visualiser/js/scatter_chart.js" %}"></script>
<script src="{% static "run_visualiser/js/line_chart.js" %}"></script>
{% endblock %}

{% block content %}
<div class="fixed-action-btn">
  <a  href="{% url "viewer:upload" %}" data-tooltip="Upload new NIPT data" data-position="top" class="btn-floating tooltipped btn-large waves-effect waves-light red right {% if not num_flowcells %} pulse {% endif %}"><i class="material-icons">file_upload</i></a>
</div>

<div class="section">
  <div class="row white">
      <div class="col s12 m12 white center">
        <a class="waves-effect {% if time_selection == 1 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=1 %}">1 month</a>
        <a class="waves-effect {% if time_selection == 3 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=2 %}">3 month</a>
        <a class="waves-effect {% if time_selection == 6 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=6 %}">6 month</a>
        <a class="waves-effect {% if time_selection == 12 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=12 %}">1 year</a>
        <a class="waves-effect {% if time_selection == 24 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=24 %}">2 year</a>
        <a class="waves-effect {% if time_selection == 70 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=60 %}">5 year</a>
        <a class="waves-effect {% if time_selection == 9999 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:index' active_page=1 time_selection=9999 %}">All</a>
      </div>
    <div class="col s12 m12 white">
      <div class=center-align>
        <h4> Fetal fraction</h4>
      </div>
      {% if data_ff_time %}
        <div id="scatter_chart_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>
      <script>
        scatterChartTime({{ '{' }}data: {{ data_ff_time|safe }}, id: '#scatter_chart_ff svg', x_label: 'Date', y_label: 'Fetal fraction', x_format: '0.02f', y_format: '0.02%', y_min:0, y_max:0.2,limits:[[0.02,0.02]]{{ '}' }});
      </script>
      {% else %}
      <div class=center-align>
        <p>
        <h2 class="center-align">NO DATA</h2>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row white">
    <div class="col s12 m12 white">
      <div class=center-align>
        <h4> Normalized Chromosome Denominator</h4>
      </div>
      {% if ncd %}
        <div id="scatter_chart_ncd" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>
      <script>
        scatterChartTime({{ '{' }}data: {{ ncd|safe }}, id: '#scatter_chart_ncd svg', x_label: 'Date', y_label: 'NCD', x_format: '0.02f', y_format: '0.02f'{{ '}' }});
      </script>
      {% else %}
      <div class=center-align>
        <p>
        <h2 class="center-align">NO DATA</h2>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="section">
    <div class="row white">
    <div class=center-align>
      <h4> Runs</h4>
    </div>
    <table class="centered">
      <thead>
      <tr>
        <th>Barcode</th>
        <th>Run date</th>
        <th>Uploaded by</th>
        <th>Upload Date</th>
        <th>QC Status</th>
        <th>Illumina Software version</th>
      </tr>
      </thead>
      <tbody>
    {% if flowcell_data %}
    {% for flowcell in flowcell_data %}
    <tr>
    <td><a  class="cyan-text text-darken-4"href="{% url 'viewer:report' barcode=flowcell.flowcell_id.flowcell_barcode %}">{{ flowcell.flowcell_id.flowcell_barcode}}</a></td>
    <td>{% timezone "Europe/Paris" %}{{ flowcell.flowcell_id.run_date|date:"Y-m-d"}}{% endtimezone %}</td>
    <td>{{ flowcell.flowcell_id.uploading_user.first_name }} {{ flowcell.flowcell_id.uploading_user.last_name }}</td>
    <td>{% timezone "Europe/Paris" %}{{ flowcell.flowcell_id.created|date:"Y-m-d"}}{% endtimezone %}</td>
    <td>{{ flowcell.flowcell_id.qc_status }}</td>
    <td>{{ flowcell.software_version }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
  {% if num_pages >= 2 %}
  <ul class="pagination center-align">

      <li {% if 1 == active_page %} class="disabled" {% else %} class="waves-effect" {% endif %}><a href="{% url 'viewer:index' active_page=active_page|add:-1 time_selection=time_selection %}"><i class="material-icons">chevron_left</i></a></li>
    {% for page in pages %}
        <li {% if page == active_page %} class="active" {% endif %}><a href="{% url 'viewer:index' active_page=page time_selection=time_selection %}">{{ page }}</a></li>
    {% endfor %}
    <li {% if num_pages == active_page %} class="disabled" {% else %} class="waves-effect" {% endif %} ><a href="{% url 'viewer:index' active_page=active_page|add:1 time_selection=time_selection %}"><i class="material-icons">chevron_right</i></a></li>
  </ul>
 {% endif %}
</div>
</div>
{% endblock %}
