{% extends "base.html" %}
{% load tz %}
{% load percentformat %}
{% load stringformat_custom %}
{% load flag_sample %}
{% load static %}
{% load lookup %}
{% load hex_to_rgb %}
{% block head_js %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
  <script src="{% static "run_visualiser/js/scatter_chart.js" %}"></script>
  <script src="{% static "run_visualiser/js/chromosome_line_chart.js" %}"></script>

{% endblock %}

{% block head_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">

{% endblock %}

{% block navbar %}
<div class="nav-content">
      <ul class="tabs tabs-transparent">
  <li class="tab"><a href="{% url "viewer:report" barcode=flowcell_barcode %}" class="active">{{ flowcell_barcode }}</a></li>
  {% for sample in samples %}
  <li class="tab"><a href="{% url "viewer:sample_report" barcode=flowcell_barcode sample=sample %}">{{ sample }}</a></li>
  {% endfor%}
  </ul>
</div>

{% endblock %}
{% block content %}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a  href="{% url "viewer:upload" %}" class="btn-floating btn- waves-effect waves-light green right"><i class="material-icons">file_upload</i></a></li>
    <li><a  href="{% url "viewer:sample_report_pdf" barcode=flowcell_barcode %}" class="btn-floating btn- waves-effect waves-light blue right"><i class="material-icons">picture_as_pdf</i></a></li>
  </ul>
</div>

<!--<div class="container">-->
  <div class="section">
    <div class="row white">
        <b>Uploaded by: </b>{{ flowcell_user }} ({{ upload_date}})<br />
        <b>Run date: </b> {{ run_date }}<br>
    </div>
  </div>
  <div class="section">
    <div class="row white">
        <div id="coverage_chart" style="width:100%;height:400px;">
        <svg style="width:100%;height:400px;"></svg>
      </div>
    <script>
      chromosomeLineChart({{ '{' }}data: {{ data_coverage|safe }}, id: '#coverage_chart svg', x_label: 'chromosome', y_label: 'Coverage'{{ '}' }});
    </script>
    </div>
    <div class="row white">
        <div id="scatter_chart_ff" style="width:100%;height:400px;">
        <svg style="width:100%;height:400px;"></svg>
      </div>
    <script>
      scatterChartTime({{ '{' }}data:{{ data_ff_time|safe }}, id: '#scatter_chart_ff svg', x_label: 'Date', y_label: 'Fetal fraction', x_format: '0.02f', y_format: '0.02%', y_min: 0, y_max:0.2,limits:[[0.02,0.02]]{{ '}' }});
    </script>
    </div>
    <div class="row white">
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header"><i class="material-icons">folder</i>Run data</div>
            <div class="collapsible-body white"><span>
            <table class="striped highlight responsive-table centered" id="run_data">
              <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>NCV 13</th>
                    <th>NCV 18</th>
                    <th>NCV 21</th>
                    <th>NCV X</th>
                    <th>NCV Y</th>
                    <th>FF</th>
                    <th class="right-align"><button class="btn-floating btn-small" id="copy-hidden-table-button" data-clipboard-target="#hidden_run_data" onclick="copy_table()" ><i class="material-icons">content_copy</i></button></th>
                </tr>
              </thead>
              <tbody>
              {% for row in flowcell_run_data %}
                <tr>
                  <td>{{ row.sample_id }}</td>
                  <td {{ row.ncv_13|flag_sample }}>{{ row.ncv_13|stringformat_custom:".3f" }}</td>
                  <td {{ row.ncv_18|flag_sample }}>{{ row.ncv_18|stringformat_custom:".3f" }}</td>
                  <td {{ row.ncv_21|flag_sample }}>{{ row.ncv_21|stringformat_custom:".3f" }}</td>
                  <td {{ row.ncv_X|flag_sample }}>{{ row.ncv_X|stringformat_custom:".3f" }}</td>
                  <td {{ row.ncv_Y|flag_sample }}>{{ row.ncv_Y|stringformat_custom:".3f" }}</td>
                  <td {{ row.ff_formatted|flag_sample }} colspan="2">{{ row.ff_formatted|percentformat:1 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table></span>
          </div>
          </li>
          </ul>
            <table id="hidden_run_data" class="offscreen">
              <thead>
                <tr>
                    <th>Sample ID</th>
                    <th>NCV 13</th>
                    <th>NCV 18</th>
                    <th>NCV 21</th>
                    <th>NCV X</th>
                    <th>NCV Y</th>
                    <th>FF</th>
                    <th class="right-align"> </th>
                </tr>
              </thead>
              <tbody>
              {% for row in flowcell_data %}
                <tr><td>{{ row.sample_id }}</td><td {{ row.ncv_13|flag_sample }}>{{ row.ncv_13 }}</td><td {{ row.ncv_18|flag_sample }}>{{ row.ncv_18 }}</td><td {{ row.ncv_21|flag_sample }}>{{ row.ncv_21 }}</td><td {{ row.ncv_X|flag_sample }}>{{ row.ncv_X }}</td><td {{ row.ncv_Y|flag_sample }}>{{ row.ncv_Y }}</td><td colspan="2">{{ row.ff_formatted }}</td></tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
  </div>
<!--</div>
<div class="container">-->
  <div class="section">
    <div class="row white ">
      <div id="scatter_chart_x_vs_y">
        <div class=center-align>
          <h4> X vs Y</h4>
        </div>
        <svg style="width:100%;height:400px"></svg>
      </div>
      <script>scatterChart({{ '{' }}data: {{ data_x_vs_y|safe }}, id: '#scatter_chart_x_vs_y svg', x_label: 'NCV ChrX', y_label:'NCV ChrY', x_format: '0.02f', y_format: '0.02f',limits: [[[-4,-4],[-200,800]], [[4,4],[-200,800]], [[-40,10],[0,0]]], x_max:5, y_min:-20{{ '}' }});</script>
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
            <div class="collapsible-body white"><span>
              <table class="striped highlight responsive-table centered" id="run_data">
                <thead>
                  <tr>
                    <th>
                        Sample
                    </th>
                    <th>
                        NCV X
                    </th>
                    <th>
                        NCV Y
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for f in flowcell_run_data %}
                    {% lookup color_dict f.sample_id as hex_color %}
                    {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
                    {% hex_to_rgb hex_color 0.5 as rgba_color%}
                    <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};">
                      <b>{{ f.sample_id }}</b>
                    </td>
                    <td {{ f.ncv_X|flag_sample }}>
                      {{ f.ncv_X|stringformat_custom:".2f"  }}
                    </td>
                    <td {{ f.ncv_Y|flag_sample }}>
                      {{ f.ncv_Y|stringformat_custom:".2f"  }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <!--</div>
  <div class="container">-->
  <div class="section">
    <div class="row white">
      <div id="scatter_chart_x_vs_ff">
        <div class=center-align>
          <h4> X vs ff</h4>
        </div>
        <svg style="width:100%;height:400px"></svg>
      </div>
      <script>scatterChart({{ '{' }}data: {{ data_x_vs_ff|safe }}, id: '#scatter_chart_x_vs_ff svg', x_label: 'NCV ChrX', y_label: 'FF', x_format: '0.02f', y_format: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], x_max:5, y_min:0, y_max:0.2{{ '}' }});</script>
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
            <div class="collapsible-body white"><span>
              <table class="striped highlight responsive-table centered" id="run_data">
                <thead>
                  <tr>
                    <th>
                        Sample
                    </th>
                    <th>
                        NCV X
                    </th>
                    <th>
                        NCV Y
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for f in flowcell_run_data %}
                    {% lookup color_dict f.sample_id as hex_color %}
                    {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
                    {% hex_to_rgb hex_color 0.5 as rgba_color%}
                    <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};">
                      <b>{{ f.sample_id }}</b>
                    </td>
                    <td {{ f.ncv_X|flag_sample }}>
                      {{ f.ncv_X|stringformat_custom:".2f" }}
                    </td>
                    <td {{ f.ff_formatted|flag_sample }}>
                      {{ f.ff_formatted|percentformat:1 }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <!--</div>
  <div class="container">-->
  <div class="section">
    <div class="row white">
      <div id="scatter_chart_y_vs_ff">
        <div class=center-align>
          <h4> Y vs ff</h4>
        </div>
        <svg style="width:100%;height:400px"></svg>
      </div>
      <script>scatterChart({{ '{' }}data: {{ data_y_vs_ff|safe }}, id: '#scatter_chart_y_vs_ff svg', x_label: 'NCV ChrY', y_label: 'FF', x_format: '0.02f', y_format: '%', limits: [[[10,10],[-200,800]], [[-400,400],[0.02,0.02]]], y_min:0, y_max:0.2{{ '}' }});</script>
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
            <div class="collapsible-body white"><span>
              <table class="striped highlight responsive-table centered" id="run_data">
                <thead>
                  <tr>
                    <th>
                        Sample
                    </th>
                    <th>
                        NCV Y
                    </th>
                    <th>
                       Fetal Fraction
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for f in flowcell_run_data %}
                    {% lookup color_dict f.sample_id as hex_color %}
                    {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
                    {% hex_to_rgb hex_color 0.5 as rgba_color%}
                    <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};">
                      <b>{{ f.sample_id }}</b>
                    </td>
                    <td {{ f.ncv_Y|flag_sample }}>
                      {{ f.ncv_Y|stringformat_custom:".2f" }}
                    </td>

                    <td {{ f.ff_formatted|flag_sample }}>
                      {{ f.ff_formatted|percentformat:1 }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <!--</div>
  <div class="container">-->
  <div class="section">
    <div class="row white">
      <div id="scatter_chart_chr13_vs_ff" style="width:100%;height:400px;">
        <div class=center-align>
          <h4> chr13 vs ff</h4>
        </div>
        <svg style="width:100%;height:400px"></svg>
      </div>
      <script>scatterChart({{ '{' }}data: {{ data_chr13_vs_ff|safe }},  id: '#scatter_chart_chr13_vs_ff svg', x_labe: 'NCV Chr13', y_label: 'FF', x_format: '0.02f', y_format: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], highlight_area: [[[3,4],[0.2,0.02]],], x_min:-5, x_max:5, y_min:0, y_max:0.2{{ '}' }});</script>
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
            <div class="collapsible-body white"><span>
              <table class="striped highlight responsive-table centered" id="run_data">
                <thead>
                  <tr>
                    <th>
                        Sample
                    </th>
                    <th>
                        NCV 13
                    </th>
                    <th>
                        Fetal fraction
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for f in flowcell_run_data %}
                    {% lookup color_dict f.sample_id as hex_color %}
                    {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
                    {% hex_to_rgb hex_color 0.5 as rgba_color%}
                    <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};">
                      <b>{{ f.sample_id }}</b>
                    </td>
                    <td {{ f.ncv_13|flag_sample }}>
                      {{ f.ncv_13|stringformat_custom:".2f" }}
                    </td>
                    <td {{ f.ff_formatted|flag_sample }}>
                      {{ f.ff_formatted|percentformat:1 }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
<!--</div>
<div class="container">-->
  <div class="section">
    <div class="row white">
      <div id="scatter_chart_chr18_vs_ff">
        <div class=center-align>
          <h4> chr18 vs ff</h4>
        </div>
        <svg style="width:100%;height:400px"></svg>
      </div>
      <script>scatterChart({{ '{' }}data: {{ data_chr18_vs_ff|safe }}, id: '#scatter_chart_chr18_vs_ff svg', x_label: 'NCV Chr18', y_label: 'FF', x_format: '0.02f',  y_format: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], highlight_area: [[[3,4],[0.2,0.02]],], x_min:-5, x_max:5, y_min:0, y_max:0.2{{ '}' }});</script>
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
            <div class="collapsible-body white"><span>
              <table class="striped highlight responsive-table centered" id="run_data">
                <thead>
                  <tr>
                    <th>
                        Sample
                    </th>
                    <th>
                        NCV 18
                    </th>
                    <th {{ f.ff_formatted|flag_sample }}>
                      Fetal fraction
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for f in flowcell_run_data %}
                    {% lookup color_dict f.sample_id as hex_color %}
                    {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
                    {% hex_to_rgb hex_color 0.5 as rgba_color%}
                    <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};">
                      <b>{{ f.sample_id }}</b>
                    </td>
                    <td {{ f.ncv_18|flag_sample }}>
                      {{ f.ncv_18|stringformat_custom:".2f" }}
                    </td>
                    <td {{ f.ff_formatted|flag_sample }}>
                      {{ f.ff_formatted|percentformat:1 }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <!--</div>
  <div class="container">-->
  <div class="section">
    <div class="row white">
      <div id="scatter_chart_chr21_vs_ff">
        <div class=center-align>
          <h4> chr21 vs ff</h4>
        </div>
        <svg style="width:100%;height:400px"></svg>
      </div>
      <script>scatterChart({{ '{' }}data: {{ data_chr21_vs_ff|safe }}, id: '#scatter_chart_chr21_vs_ff svg', x_label: 'NCV Chr21', y_label: 'FF', x_format: '0.02f', y_format: '%', limits:[[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], highlight_area:[[[3,4],[0.2,0.02]],], x_min:-5, x_max:5, y_min:0, y_max:0.2{{ '}' }});</script>
      <ul class="collapsible z-depth-0" style="border:0px">
        <li>
            <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
            <div class="collapsible-body white"><span>
              <table class="striped highlight responsive-table centered" id="run_data">
                <thead>
                  <tr>
                    <th>
                        Sample
                    </th>
                    <th>
                        NCV 21
                    </th>
                    <th>
                        Fetal fraction
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for f in flowcell_run_data %}
                    {% lookup color_dict f.sample_id as hex_color %}
                    {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
                    {% hex_to_rgb hex_color 0.5 as rgba_color%}
                    <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};">
                      <b>{{ f.sample_id }}</b>
                    </td>
                    <td {{ f.ncv_21|flag_sample }}>
                      {{ f.ncv_21|stringformat_custom:".2f" }}
                    </td>
                    <td {{ f.ff_formatted|flag_sample }}>
                      {{ f.ff_formatted|percentformat:1 }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </li>
        </ul>
    </div>
  </div>
<!--</div>-->
{% endblock %}

{% block footer_js %}
<script src="{% static "js/clipboard.min.js" %}"></script>
<script>
  function copy_table() {
    new Clipboard('#copy-hidden-table-button');
    }

  </script>

  <script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {'direction':'left'});
    });

  </script>

{% endblock %}
