{% extends "base.html" %}
{% load tz %}
{% load flag_sample %}
{% load static %}
{% load min_value %}
{% load max_value %}
{% load addstr %}
{% block head_js %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons" rel="stylesheet">

  <script src="{% static "js/d3.min.3.5.2.js" %}" charset="utf-8"></script>
  <script src="{% static "js/nv/1.8.6/nv.d3.min.js" %}"></script>

  <script src="{% static "run_visualiser/js/scatter_chart.js" %}"></script>
  <script src="{% static "run_visualiser/js/chromosome_line_chart.js" %}"></script>
  <script src="{% static "run_visualiser/js/grouped_barchart.js" %}"></script>

{% endblock %}

{% block head_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">

{% endblock %}

{% block navbar %}
<div class="nav-content">
      <ul class="tabs tabs-transparent">
  <li class="tab"><a href="{% url "viewer:report" barcode=flowcell_barcode %}" class="active">{{ flowcell_barcode }}</a></li>
  {% for sample in samples %}
  <li class="tab"><a href="{% url "viewer:sample_report" barcode=flowcell_barcode sample=sample %}" {% if sample == active_sample  %} class="active" {% endif %} >{{ sample }}</a></li>
  {% endfor%}
  </ul>
</div>

{% endblock %}
{% block content %}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a  href="{% url "viewer:upload" %}" data-tooltip="Upload new NIPT data" data-position="top" class="btn-floating tooltipped btn- waves-effect waves-light green right"><i class="material-icons">file_upload</i></a></li>
    <li><a  href="{% url "viewer:sample_report_pdf" barcode=flowcell_barcode %}" data-tooltip="Download run report" data-position="top" class="btn-floating tooltipped btn- waves-effect waves-light blue right"><i class="material-icons">insert_chart</i></a></li>
    <li><a  href="{% url "viewer:qc_report_pdf" barcode=flowcell_barcode %}" data-tooltip="Download QC report" data-position="top" class="btn-floating tooltipped btn- waves-effect waves-light yellow right"><i class="material-icons">info</i></a></li>
  </ul>
</div>

<div class="section">
  <div class="row white ">
    {% include "reportvisualiser/info/stat_list.html" %}
  </div>
  <div class="row white">
    {% include "reportvisualiser/plots/chromosome_coverage_reads.html" with data=data_coverage_reads plot_id="read_coverage_chart"|addstr:flowcell_barcode  width="100%" height="450px" only %}
  </div>
</div>
<div class="section">
  <div class="row white">
      {% include "reportvisualiser/plots/chromosome_coverage_normalized.html" with data=data_coverage plot_id="coverage_chart"|addstr:flowcell_barcode width="100%" height="450px" only %}
  </div>
</div>

<div class="section">
  <div class="row white">
      <div class="col s12 m12 white center">
        <a class="waves-effect {% if time_selection == 1 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=1 %}">1 month</>
        <a class="waves-effect {% if time_selection == 3 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=2 %}">3 month</>
        <a class="waves-effect {% if time_selection == 6 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=6 %}">6 month</>
        <a class="waves-effect {% if time_selection == 12 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=12 %}">1 year</>
        <a class="waves-effect {% if time_selection == 24 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=24 %}">2 year</>
        <a class="waves-effect {% if time_selection == 70 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=60 %}">5 year</>
        <a class="waves-effect {% if time_selection == 9999 %} btn {% else %} btn-flat {% endif %}" href="{% url 'viewer:report' barcode=flowcell_barcode time_selection=9999 %}">All</a>
      </div>
        <div class="white center">
          <br />
          <small>Time span</small>
        </div>
      {% include "reportvisualiser/plots/fetal_fraction_time.html" with data=data_ff_time plot_id="ff_chart"|addstr:flowcell_barcode width="100%" height="450px" only %}
  </div>
  <div class="row white">
    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header"><i class="material-icons">folder</i>Run data</div>
        <div class="collapsible-body white">
          {% include "reportvisualiser/tables/full_ncv.html" with data=flowcell_run_data only %}
        </div>
      </li>
    </ul>
    <table id="hidden_run_data" class="offscreen">
      <thead>
        <tr>
          <th>Sample ID</th>
          <th>NCV 13</th>
          <th>NCV 18</th>
          <th>NCV 21</th>
          <th>NCV X</th>
          <th>NCV Y</th>
          <th>FF</th>
          <th class="right-align"> </th>
        </tr>
      </thead>
      <tbody>
      {% for row in flowcell_run_data %}
        <tr><td>{{ row.sample_id }}</td><td {{ row.ncv_13|flag_sample }}>{{ row.ncv_13 }}</td><td {{ row.ncv_18|flag_sample }}>{{ row.ncv_18 }}</td><td {{ row.ncv_21|flag_sample }}>{{ row.ncv_21 }}</td><td {{ row.ncv_X|flag_sample }}>{{ row.ncv_X }}</td><td {{ row.ncv_Y|flag_sample }}>{{ row.ncv_Y }}</td><td colspan="2">{{ row.ff_formatted }}</td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="section">
  <div class="row white ">
    {% with "[[[-4,-4],["|addstr:data_x_vs_y_min_y|addstr:","|addstr:data_x_vs_y_max_y|addstr:"]],[[4,4],["|addstr:data_x_vs_y_min_y|addstr:","|addstr:data_x_vs_y_max_y|addstr:"]]]"  as vert_limits %}
        {% include "reportvisualiser/plots/ncv.html" with data=data_x_vs_y plot_id="scatter_chart_chrx_vs_chry"|addstr:flowcell_barcode title="NCV X vs NCV Y" x_label='NCV ChrX' y_label='ChrY' x_format='0.02f' y_format='0.02f' x_min=data_x_vs_y_min_x|min_value:"-5" x_max=data_x_vs_y_max_x|max_value:"5" y_min=data_x_vs_y_min_y  y_max=data_x_vs_y_max_y limits=vert_limits highlight_area='[]' width="100%" height="450px" only %}
    {% endwith %}


    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
        <div class="collapsible-body white">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV X" title_2="NCV Y" field_1="ncv_X" field_2="ncv_Y" format_field_1=".2f" format_field_2=".2f" color_dict=color_dict only %}
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="section">
  <div class="row white">
    {% with x_min_value=data_x_vs_ff_min_x|min_value:"-5" x_max_value=data_x_vs_ff_max_x|max_value:"5" y_min_value=0 y_max_value=data_x_vs_ff_max_y|max_value:"0.2" %}
        {% with "[[[4,4],["|addstr:y_min_value|addstr:","|addstr:y_max_value|addstr:"]],[["|addstr:x_min_value|addstr:","|addstr:x_max_value|addstr:"],[0.02,0.02]]]"  as vert_limits %}
            {% include "reportvisualiser/plots/ncv.html" with data=data_x_vs_ff plot_id="scatter_chart_chrx_vs_ff"|addstr:flowcell_barcode title="Fetal fraction vs NCV X" x_label='NCV ChrX' y_label='FF' x_format='0.02f' y_format='%' x_min=x_min_value x_max=x_max_value y_min=y_min_value y_max=y_max_value limits=vert_limits highlight_area='[]' width="100%" height="450px" only  %}
        {% endwith %}
    {% endwith %}
    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
        <div class="collapsible-body white">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV X" title_2="Fetal fraction" field_1="ncv_X" field_2="ff_formatted" format_field_1=".2f" format_field_2=".1%" color_dict=color_dict only %}
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="section">
  <div class="row white">
      {% with x_min_value=data_y_vs_ff_min_x|min_value:"-5" x_max_value=data_y_vs_ff_max_x|max_value:"5" y_min_value=0 y_max_value=data_y_vs_ff_max_y|max_value:"0.2" %}
          {% with "[[[10,10],["|addstr:y_min_value|addstr:","|addstr:y_max_value|addstr:"]],[["|addstr:x_min_value|addstr:","|addstr:x_max_value|addstr:"],[0.02,0.02]]]"  as vert_limits %}
              {% include "reportvisualiser/plots/ncv.html" with data=data_y_vs_ff plot_id="scatter_chart_chry_vs_ff"|addstr:flowcell_barcode title="Fetal fraction vs NCV Y" x_label='NCV ChrY' y_label='FF' x_format='0.02f' y_format='%'  x_min=x_min_value x_max=x_max_value y_min=y_min_value y_max=y_max_value limits=vert_limits highlight_area='[]' width="100%" height="450px" only %}
          {% endwith %}
      {% endwith %}
    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
        <div class="collapsible-body white">
          {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV Y" title_2="Fetal fraction" field_1="ncv_Y" field_2="ff_formatted" format_field_1=".2f" format_field_2=".1%" color_dict=color_dict only %}
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="section">
  <div class="row white">
      {% with x_min_value=data_chr13_vs_ff_min_x|min_value:"-5" x_max_value=data_chr13_vs_ff_max_x|max_value:"5" y_min_value=0.02 y_max_value=data_chr13_vs_ff_max_y|max_value:"0.2" %}
          {% with vert_limits="[[[4,4],["|addstr:y_min_value|addstr:","|addstr:y_max_value|addstr:"]],[["|addstr:x_min_value|addstr:","|addstr:x_max_value|addstr:"],[0.02,0.02]]]" highlight_area_value='[[[3,4],['|addstr:y_max_value|addstr:","|addstr:y_min_value|addstr:']]]' %}
              {% include "reportvisualiser/plots/ncv.html" with data=data_chr13_vs_ff plot_id="scatter_chart_chr13_vs_ff"|addstr:flowcell_barcode title="Fetal fraction vs NCV 13" x_label='NCV Chr13' y_label='FF' x_format='0.02f' y_format='%' x_min=x_min_value x_max=x_max_value y_min=y_min_value y_max=y_max_value limits=vert_limits  highlight_area=highlight_area_value width="100%" height="450px" only %}
          {% endwith %}
      {% endwith %}
    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
        <div class="collapsible-body white"><span>
          {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV 13" title_2="Fetal fraction" field_1="ncv_13" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict only %}
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="row white">
      {% with x_min_value=data_chr18_vs_ff_min_x|min_value:"-5" x_max_value=data_chr18_vs_ff_max_x|max_value:"5" y_min_value=0.02 y_max_value=data_chr18_vs_ff_max_y|max_value:"0.2" %}
          {% with vert_limits="[[[4,4],["|addstr:y_min_value|addstr:","|addstr:y_max_value|addstr:"]],[["|addstr:x_min_value|addstr:","|addstr:x_max_value|addstr:"],[0.02,0.02]]]" highlight_area_value='[[[3,4],['|addstr:y_max_value|addstr:","|addstr:y_min_value|addstr:']]]' %}
              {% include "reportvisualiser/plots/ncv.html" with data=data_chr18_vs_ff plot_id="scatter_chart_chr18_vs_ff"|addstr:flowcell_barcode title="Fetal fraction vs NCV 18" x_label='NCV Chr18' y_label='FF' x_format='0.02f' y_format='%' x_min=x_min_value x_max=x_max_value y_min=y_min_value y_max=y_max_value limits=vert_limits  highlight_area=highlight_area_value width="100%" height="450px" only %}
          {% endwith %}
      {% endwith %}
    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
        <div class="collapsible-body white"><span>
          {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV 18" title_2="Fetal fraction" field_1="ncv_18" field_2="ff_formatted" format_field_1=".2f" format_field_2=".1%" color_dict=color_dict only %}
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="section">
  <div class="row white">
      {% with x_min_value=data_chr21_vs_ff_min_x|min_value:"-5" x_max_value=data_chr21_vs_ff_max_x|max_value:"5" y_min_value=0.02 y_max_value=data_chr21_vs_ff_max_y|max_value:"0.2" %}
          {% with vert_limits="[[[4,4],["|addstr:y_min_value|addstr:","|addstr:y_max_value|addstr:"]],[["|addstr:x_min_value|addstr:","|addstr:x_max_value|addstr:"],[0.02,0.02]]]" highlight_area_value='[[[3,4],['|addstr:y_max_value|addstr:","|addstr:y_min_value|addstr:']]]' %}
              {% include "reportvisualiser/plots/ncv.html" with data=data_chr21_vs_ff plot_id="sca1tter_chart_chr21_vs_ff"|addstr:flowcell_barcode title="Fetal fraction vs NCV 21" x_label='NCV Chr21' y_label='FF' x_format='0.02f' y_format='%' x_min=x_min_value x_max=x_max_value y_min=y_min_value y_max=y_max_value limits=vert_limits  highlight_area=highlight_area_value width="100%" height="450px" only  %}
          {% endwith %}
      {% endwith %}
    <ul class="collapsible z-depth-0" style="border:0px">
      <li>
        <div class="collapsible-header center"><i class="material-icons">folder</i>Data</div>
        <div class="collapsible-body white">
          {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV 21" title_2="Fetal fraction" field_1="ncv_21" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict  only %}
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}

{% block footer_js %}
<script src="{% static "js/clipboard.min.js" %}"></script>
<script>
  function copy_table() {
    new Clipboard('#copy-hidden-table-button');
    }

  </script>

  <script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {'direction':'left'});
    });

  </script>

{% endblock %}
