


{% load hex_to_rgb %}
{% if page_type != 'pdf' %}
{% load static %}
{% endif %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>NIPT Sample Report</title>

        {% if page_type != 'pdf' %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/nv.d3.1.8.6.css" %}">
        <link rel="stylesheet" href="{% static "css/materialize.min.1.0.0.css" %}">

        <script src="{% static "js/d3.min.3.5.2.js" %}" charset="utf-8"></script>
        <script src="{% static "js/nv/1.8.6/nv.d3.min.js" %}" %}"></script>
        <script src="{% static "run_visualiser/js/scatter_chart.js" %}"></script>
        <script src="{% static "run_visualiser/js/chromosome_line_chart.js" %}"></script>
        <script src="{% static "run_visualiser/js/grouped_barchart.js" %}" charset="utf-8"></script>
        {% else %}
        <link rel="stylesheet" href="http://nginx/staticfiles/css/materialize.min.1.0.0.css">
        <link rel="stylesheet" href="http://nginx/staticfiles/css/nv.d3.1.8.6.css">

        <script src="http://nginx/staticfiles/js/d3.min.3.5.2.js" charset="utf-8"></script>
        <script src="http://nginx/staticfiles/js/nv/1.8.6/nv.d3.min.js"></script>
        <script src="http://nginx/staticfiles/run_visualiser/js/scatter_chart.js"></script>
        <script src="http://nginx/staticfiles/run_visualiser/js/chromosome_line_chart.js"  charset="utf-8"></script>
        <script src="http://nginx/staticfiles/run_visualiser/js/grouped_barchart.js" charset="utf-8"></script>
        {% endif %}
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }

            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .footer {
              float: right
            }
        </style>
    </head>
    <body>
    {% if page_type != 'pdf' %}
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li><a  href="{% url "viewer:sample_report_pdf" barcode=flowcell_barcode %}" data-tooltip="Download run report" data-position="top" class="btn-floating tooltipped btn- waves-effect waves-light blue right"><i class="material-icons">insert_chart</i></a></li>
        <li><a  href="{% url "viewer:qc_report_pdf" barcode=flowcell_barcode %}" data-tooltip="Download QC report" data-position="top" class="btn-floating tooltipped btn- waves-effect waves-light yellow right"><i class="material-icons">info</i></a></li>
      </ul>
    </div>


        {% endif %}
        <div class="container">
        <{% include "reportvisualiser/info/first_page_head.html" with title="NIPT Report" %}

        {% include "reportvisualiser/info/stat_list.html" %}

        <div class="row">
          {% include "reportvisualiser/tables/full_ncv.html" with data=flowcell_run_data only %}
        </div>

        {% if page_type == 'pdf' %}
              {% include "reportvisualiser/info/page_head.html" with title="NCV ChrX vs ChrY" %}
        {% endif %}
        <br /><br />

        <p>
            {% include "reportvisualiser/plots/ncv.html" with data=data_x_vs_y plot_id="scatter_chart_chrx_vs_chry" title="NCV X vs NCV Y" x_label='NCV ChrX' y_label='ChrY' x_format='0.02f' y_format='0.02f' x_min=-5 x_max=5 y_min=0  y_max=0.2 limits='[[[-4,-4],[-200,800]], [[4,4],[-200,800]]]' highlight_area='[]' only %}
          <div class="row">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV X" title_2="NCV Y" field_1="ncv_X" field_2="ncv_Y" format_field_1=".3f" format_field_2=".3f" color_dict=color_dict only %}
          </div>
        </p>

        {% if page_type == 'pdf' %}
              {% include "reportvisualiser/info/page_head.html" with title="NIPT Report" %}
        {% endif %}
        <br /><br />

        <p>
            {% include "reportvisualiser/plots/ncv.html" with data=data_x_vs_ff plot_id="scatter_chart_chrx_vs_ff" title="Fetal fraction vs NCV X" x_label='NCV ChrX' y_label='FF' x_format='0.02f' y_format='%'  x_min=-5 x_max=5 y_min=0  y_max=0.2 limits='[[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]]' highlight_area='[]' only  %}
          <div class="row">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV X" title_2="Fetal fraction" field_1="ncv_X" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict only %}
          </div>
        </p>

        {% if page_type == 'pdf' %}
              {% include "reportvisualiser/info/page_head.html" with title="NIPT Report" %}
        {% endif %}
        <br /><br />

        <p>
          {% include "reportvisualiser/plots/ncv.html" with data=data_y_vs_ff plot_id="scatter_chart_chry_vs_ff" title="Fetal fraction vs NCV Y" x_label='NCV ChrY' y_label='FF' x_format='0.02f' y_format='%'  x_min=-5 x_max=5 y_min=0  y_max=0.2 limits='[[[10,10],[-200,800]], [[-400,400],[0.02,0.02]]]' highlight_area='[]' only %}
          <div class="row">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV Y" title_2="Fetal fraction" field_1="ncv_Y" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict only %}
          </div>
        </p>

        {% if page_type == 'pdf' %}
              {% include "reportvisualiser/info/page_head.html" with title="NIPT Report" %}
        {% endif %}
        <br /><br />

        <p>
          {% include "reportvisualiser/plots/ncv.html" with data=data_chr13_vs_ff plot_id="scatter_chart_chr13_vs_ff" title="Fetal fraction vs NCV 13" x_label='NCV Chr13' y_label='FF' x_format='0.02f' y_format='%'  x_min=-5 x_max=5 y_min=0  y_max=0.2 limits='[[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]]' highlight_area='[[[3,4],[0.3,0.02]],]' only %}
          <div class="row">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV 13" title_2="Fetal fraction" field_1="ncv_13" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict only %}
          </div>
        </p>

        {% if page_type == 'pdf' %}
              {% include "reportvisualiser/info/page_head.html" with title="NIPT Report" %}
        {% endif %}
        <br /><br />

        <p>
          {% include "reportvisualiser/plots/ncv.html" with data=data_chr18_vs_ff plot_id="scatter_chart_chr18_vs_ff" title="Fetal fraction vs NCV 18" x_label='NCV Chr18' y_label='FF' x_format='0.02f' y_format='%'  x_min=-5 x_max=5 y_min=0  y_max=0.2 limits='[[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]]' highlight_area='[[[3,4],[0.3,0.02]],]' only %}
          <div class="row">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV 18" title_2="Fetal fraction" field_1="ncv_18" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict only %}
          </div>
        </p>

        {% if page_type == 'pdf' %}
              {% include "reportvisualiser/info/page_head.html" with title="NIPT Report" %}
        {% endif %}
        <br /><br />

        <p>
          {% include "reportvisualiser/plots/ncv.html" with data=data_chr21_vs_ff plot_id="scatter_chart_chr21_vs_ff" title="Fetal fraction vs NCV 21" x_label='NCV Chr21' y_label='FF' x_format='0.02f' y_format='%'  x_min=-5 x_max=5 y_min=0  y_max=0.2 limits='[[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]]' highlight_area='[[[3,4],[0.3,0.02]],]' only  %}
          <div class="row">
            {% include "reportvisualiser/tables/sub_ncv.html" with data=flowcell_run_data  title_1="NCV 21" title_2="Fetal fraction" field_1="ncv_21" field_2="ff_formatted" format_field_1=".3f" format_field_2=".1%" color_dict=color_dict  only %}
          </div>
        </p>

  {% if page_type != 'pdf' %}
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.min.1.0.0.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script>
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
      });
    </script>
  {% else %}
    <script src="http://nginx/staticfiles/js/jquery-2.1.1.min.js"></script>
    <script src="http://nginx/staticfiles/js/materialize.min.1.0.0.js"></script>
    <script src="http://nginx/staticfiles/js/init.js"></script>
  {% endif %}
  </body>

</html>
