{% load percentformat %}
{% load stringformat_custom %}
{% load flag_sample %}
{% load lookup %}
{% load hex_to_rgb %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>NIPT Sample Report</title>
        <link rel="stylesheet" href="/home/app/web/staticfiles/css/nv.d3.css">
        {% if page_type != 'pdf' %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
        {% endif %}
        <!--<link href="http://127.0.0.1:8001/home/app/web/staticfiles/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
        <link rel="stylesheet" href="/home/app/web/staticfiles/css/materialize.min.css">

        <script src="/home/app/web/staticfiles/js/d3.min.js" charset="utf-8"></script>
        <script src="/home/app/web/staticfiles/js/nv.d3.min.js"></script>
        <script src="/home/app/web/staticfiles/run_visualiser/js/scatter_chart.js"></script>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }

            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .footer {
              float: right
            }
        </style>
    </head>
    <body>
    {% if page_type != 'pdf' %}
      <div class="fixed-action-btn">
        <a  href="{% url "viewer:sample_report_pdf" barcode=flowcell_barcode %}" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">file_download</i></a>
      </div>


        {% endif %}
        <div class="container">
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>NIPT report <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
            </div>

        <div>

        <div class='details'>
            <b>Flowcell:</b> {{ flowcell_barcode }}<br/>
            <b>Run Data:</b> {{ run_date }} <br />
            <b>Uploaded by:</b> {{ flowcell_user }} ({{ upload_date}})
            <hr class='hrItem' />
        </div>
        <div class="row">
          <table class="striped centered">
            <thead>
              <tr>
                <th>
                    Sample
                </th>
                <th>
                    NCV 13
                </th>
                <th>
                    NCV 18
                </th>
                <th>
                    NCV 21
                </th>
                <th>
                    NCV X
                </th>
                <th>
                    NCV Y
                </th>
                <th>
                    Fetal fraction
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for f in flowcell_run_data %}
                <td>
                  {{ f.sample_id }}
                </td>
                <td {{ f.ncv_13|flag_sample }}>
                  {{ f.ncv_13|stringformat_custom:".3f" }}
                </td>
                <td {{ f.ncv_13|flag_sample }}>
                  {{ f.ncv_18|stringformat_custom:".3f" }}
                </td>
                <td {{ f.ncv_13|flag_sample }}>
                  {{ f.ncv_21|stringformat_custom:".3f" }}
                </td>
                <td {{ f.ncv_13|flag_sample }}>
                  {{ f.ncv_X|stringformat_custom:".3f" }}
                </td>
                <td {{ f.ncv_13|flag_sample }}>
                  {{ f.ncv_Y|stringformat_custom:".3f" }}
                </td>
                <td {{ f.ncv_13|flag_sample }}>
                  {{ f.ff_formatted|percentformat:1 }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% if page_type == 'pdf' %}
        <div class='wrapper' style="page-break-before: always;">
            <div class='header'>
                <p class='title'>NCV ChrX vs ChrY <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
            </div>
        <div>
        {% endif %}
        <div class="row">
        <p>
          <div id="scatter_chart_x_vs_y" style="width:100%;height:400px;">
            <svg style="width:100%;height:400px;"></svg>
          </div>
        </div>
        <script>
          scatterChart({{ '{' }}data: {{ data_x_vs_y|safe }}, id: '#scatter_chart_x_vs_y svg', x_label: 'NCV ChrX', y_label: 'NCV ChrY', x_format: '0.02f', y_format: '0.02f', limits: [[[-4,-4],[-200,800]], [[4,4],[-200,800]], [[-40,10],[0,0]]], x_max:5, y_min:-20{{ '}' }});</script>
</p>
          <br />
          <p>
        <table class="centered">
          <thead>
            <tr>
              <th>
                  Sample
              </th>
              <th>
                  NCV X
              </th>
              <th>
                  NCV Y
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>

              {% for f in flowcell_run_data %}
              {% lookup color_dict f.sample_id as hex_color %}
              {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
              {% hex_to_rgb hex_color 0.5 as rgba_color%}
              <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};padding: 0px 0px 0px 0px;">
                <b>{{ f.sample_id }}</b>
              </td>
              <td {{ f.ncv_X|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ncv_X|stringformat_custom:".3f" }}
              </td>
              <td {{ f.ncv_Y|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ncv_Y|stringformat_custom:".3f" }}
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </p>
        <p>
          {% if page_type == 'pdf' %}
          <div class='wrapper' style="page-break-before: always;">
              <div class='header'>
                  <p class='title'>NCV ChrX vs Fetal fraction <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
              </div>
          <div>
          {% endif %}
        <div id="scatter_chart_x_vs_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>


        <script>scatterChart({{ '{' }}data: {{ data_x_vs_ff|safe }}, id: '#scatter_chart_x_vs_ff svg', x_label: 'NCV ChrX', y_label: 'FF', x_format: '0.02f', y_format: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]],x_max:5, y_min:0, y_max:0.2{{ '}'}});</script>
      </p>
        <br />
        <p>
        <table class="centered">
          <thead>
            <tr>
              <th>
                  Sample
              </th>
              <th>
                  NCV X
              </th>
              <th>
                  Fetal fraction
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for f in flowcell_run_data %}
              {% lookup color_dict f.sample_id as hex_color %}
              {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
              {% hex_to_rgb hex_color 0.5 as rgba_color%}
              <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};padding: 0px 0px 0px 0px;">
                <b>{{ f.sample_id }}</b>
              </td>
              <td {{ f.ncv_X|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ncv_X|stringformat_custom:".3f" }}
              </td>
              <td {{ f.ff_formatted|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ff_formatted|percentformat:1 }}
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if page_type == 'pdf' %}
        <div class='wrapper' style="page-break-before: always;">
            <div class='header'>
                <p class='title'>NCV ChrY vs Fetal fraction <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
            </div>
        <div>
        {% endif %}
        <div id="scatter_chart_y_vs_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>

        <script>scatterChart({{ '{' }}data: {{ data_y_vs_ff|safe }}, id: '#scatter_chart_y_vs_ff svg', x_label: 'NCV ChrY', y_label: 'FF', x_format: '0.02f', y_format: '%',limits:[[[10,10],[-200,800]], [[-400,400],[0.02,0.02]]], y_min:0, y_max:0.2{{ '}' }});</script>
        </p>
        <br />
        <p>
        <table class="centered">
          <thead>
            <tr>
              <th>
                  Sample
              </th>
              <th>
                  NCV Y
              </th>
              <th>
                 Fetal Fraction
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for f in flowcell_run_data %}
              {% lookup color_dict f.sample_id as hex_color %}
              {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
              {% hex_to_rgb hex_color 0.5 as rgba_color%}
              <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};padding: 0px 0px 0px 0px;">
                <b>{{ f.sample_id }}</b>
              </td>
              <td {{ f.ncv_Y|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ncv_Y|stringformat_custom:".3f" }}
              </td>

              <td {{ f.ff_formatted|flag_sample }}  style="padding: 0px 0px 0px 0px;">
                {{ f.ff_formatted|percentformat:1 }}
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if page_type == 'pdf' %}
        <div class='wrapper' style="page-break-before: always;">
            <div class='header'>
                <p class='title'>NCV Chr13 vs Fetal fraction <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
            </div>
        <div>
        {% endif %}
        <p>
        <div id="scatter_chart_chr13_vs_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>

        <script>scatterChart({{ '{' }}data: {{ data_chr13_vs_ff|safe }}, id: '#scatter_chart_chr13_vs_ff svg', x_label: 'NCV Chr13', y_label: 'FF', x_format:'0.02f', y_format: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], highlight_area: [[[3,4],[0.2,0.02]],], x_min:-5, x_max:5, y_min:0, y_max:0.2{{ '}' }});</script>
        </p>
        <br />
        <p>
        <table class="centered">
          <thead>
            <tr>
              <th>
                  Sample
              </th>
              <th>
                  NCV 13
              </th>
              <th>
                  Fetal fraction
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for f in flowcell_run_data %}
              {% lookup color_dict f.sample_id as hex_color %}
              {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
              {% hex_to_rgb hex_color 0.5 as rgba_color%}
              <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};padding: 0px 0px 0px 0px;">
                <b>{{ f.sample_id }}</b>
              </td>
              <td {{ f.ncv_13|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ncv_13|stringformat_custom:".3f" }}
              </td>
              <td  {{ f.ff_formatted|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ff_formatted|percentformat:1 }}
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if page_type == 'pdf' %}
        <div class='wrapper' style="page-break-before: always;">
            <div class='header'>
                <p class='title'>NCV Chr18 vs Fetal fraction <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
            </div>
        <div>
        {% endif %}
        <p>
        <div id="scatter_chart_chr18_vs_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>

        <script>scatterChart({{ '{' }}data: {{ data_chr18_vs_ff|safe }}, id: '#scatter_chart_chr18_vs_ff svg', x_format: 'NCV NCV Chr18', y_format: 'FF', x_label: '0.02f', y_label: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], highlight_area: [[[3,4],[0.2,0.02]]], x_min:-5, x_max:5, y_min:0, y_max:0.2{{ '}' }});</script>
        </p>
        <br />
        <p>
        <table class="centered">
          <thead>
            <tr>
              <th>
                  Sample
              </th>
              <th>
                  NCV 18
              </th>
              <th>
                Fetal fraction
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for f in flowcell_run_data %}
              {% lookup color_dict f.sample_id as hex_color %}
              {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
              {% hex_to_rgb hex_color 0.5 as rgba_color%}
              <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};padding: 0px 0px 0px 0px;">
                <b>{{ f.sample_id }}</b>
              </td>
              <td {{ f.ncv_18|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ncv_18|stringformat_custom:".3f" }}
              </td>
              <td {{ f.ff_formatted|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ff_formatted|percentformat:1 }}
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if page_type == 'pdf' %}
        <div class='wrapper' style="page-break-before: always;">
            <div class='header'>
                <p class='title'>NCV Chr21 vs Fetal fraction <img src='/home/app/web/staticfiles/img/CGU.png' style="width:200px;height:100px;float:right"></p>
            </div>
        <div>
        {% endif %}
        <p>
        <div id="scatter_chart_chr21_vs_ff" style="width:100%;height:400px;">
          <svg style="width:100%;height:400px;"></svg>
        </div>

        <script>scatterChart({{ '{' }}data: {{ data_chr21_vs_ff|safe }}, id: '#scatter_chart_chr21_vs_ff svg', x_label: 'NCV Chr21', y_label: 'FF', x_format: '0.02f', y_format: '%', limits: [[[4,4],[-200,800]], [[-400,400],[0.02,0.02]]], highlight_area:[[[3,4],[0.2,0.02]]], x_min: -5, x_max: 5, y_min: 0, y_max:0.2{{ '}' }});</script>
        </p>
        <br />
        <p>
        <table class="centered">
          <thead>
            <tr>
              <th>
                  Sample
              </th>
              <th>
                  NCV 21
              </th>
              <th>
                  Fetal fraction
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for f in flowcell_run_data %}
              {% lookup color_dict f.sample_id as hex_color %}
              {% hex_to_rgb hex_color 1.0 as rgba_color_border%}
              {% hex_to_rgb hex_color 0.5 as rgba_color%}
              <td style="border: 10px solid rgba({{ rgba_color_border }});background:rgba{{ rgba_color }};padding: 0px 0px 0px 0px;">
                <b>{{ f.sample_id }}</b>
              </td>
              <td {{ f.ncv_21|flag_sample }} style="padding: 0px 0px 0px 0px;" >
                {{ f.ncv_21|stringformat_custom:".3f" }}
              </td>
              <td {{ f.ff_formatted|flag_sample }} style="padding: 0px 0px 0px 0px;">
                {{ f.ff_formatted|percentformat:1 }}
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </p>
    </div>
  {% if page_type != 'pdf' %}</div>
  {% endif %}
  <script src="/home/app/web/staticfiles/js/jquery-2.1.1.min.js"></script>
  <script src="/home/app/web/staticfiles/js/materialize.min.js"></script>
  <script src="/home/app/web/staticfiles/js/init.js"></script>
  <script>
    $(document).ready(function(){
      $('.fixed-action-btn').floatingActionButton();
    });
  </script>
  </body>

</html>
